<%- include('../partials/header'); %>

<main class="main">
    <h2>Erreur 404</h2>

    <div>
        <h3>La page que vous recherchez n'a pas été trouvée.</h3>
        <a href="/">Retour à la page d'accueil</a>
    </div>
</main>

<%- include('../partials/footer'); %>
