<%- include('../partials/header'); %>
<section class="container">


    <main class="main">
        <div class="title">
            <h2>Erreur 404</h2>
        </div>

        <div class="content">
            <div class="content__title">
                <h3 class="h3">La page que vous recherchez n'a pas été trouvée.</h3>
            </div>
            
            <div class="content__option">
                <h4 class="h4">Pas de problème ! En cliquant sur le bouton ci-dessous c'est retour à la case départ.</h4>             
    
                <div class="content__buttons">
    
                    <a class="btn-primary" href="/">Retour à la page d'accueil</a>
    
                </div>
            </div>

        </div>



    </main>

    <%- include('../partials/footer'); %>
