<%- include('../partials/header'); %>

<section class="container">

    <main class="main">

        <div class="title">
            <% if (isConnected) { %>
                <h2>Bienvenue sur la page de connexion <%= username %> !</h2>
            <% } else { %>
                <h2>Bienvenue sur la page de connexion...</h2>
            <% } %> 
        </div>

        <div class="content">
            <% if (isConnected) { %>

                <div>
                    <a class="btn-secondary" href="/deconnexion">Déconnexion</a>
                </div>

            <% } else { %>
                <div class="content__title">
                    <h3 class="h3">Connexion</h3>
                </div>
                
                <form class="form" method="post" action="/connexion">

                    <div class="form__content">
                        <% if (error) { %>
                            <span class="error" role="alert"><%= error %></span>
                        <% } %>
                        <div class="input">
                            <label for="login">Login</label>
                            <input id="login" name="login" placeholder="admin" type="text" autocomplete="username" required>
                        </div>
                        
                        <div class="input">
                            <label for="password">Password</label>
                            <input id="password" name="password" placeholder="admin" type="password" autocomplete="current-password" required>
                        </div>
                    </div>

                    <input class="btn-primary" type="submit" value="Se connecter">
                </form>

            <% } %> 
        </div>
    </main>
    
<%- include('../partials/footer'); %>
