<%- include('../partials/header'); %>
<section class="container">

    <div id="swagger-ui"></div>

    <script src="/swagger/js/swagger-ui-bundle.js" defer></script>
    <script src="/swagger/js/swagger-ui-standalone-preset.js" defer></script>
    <script src="/swagger/js/swagger-initializer.js" defer></script>